.banner{
    height: 100vh;
    background: url(images/banner.jpeg) bottom center;
    background-size: cover;
}
.benefitsOfYoga-01,.benefitsOfYoga-02,.benefitsOfYoga-03{
    height: 420px;  
}

.benefitsOfYoga-01{
    background: url(images/benefitsOfYoga-01.jpeg) center center;
}
.benefitsOfYoga-02{
    background: url(images/benefitsOfYoga-02.jpeg) center center;
}
.benefitsOfYoga-03{
    background: url(images/benefitsOfYoga-03.jpeg) center center;
}




.card-img-overlay-height{
    height: 420px;
    @media (max-width:768px){
        height: 252px;
    }
    @media (max-width:576px){
        height: 420px;
    }
}

.topTeaching{
    background-image:url(/assets/images/topTeaching.jpeg);
    background-position: center center;
}

.topTeaching-introduce{
    background-image:url(/assets/images/topTeaching.jpeg);
    background-position: center center;
    height: 100%;
    @media (max-width:768px){
        height: 218px;
    }
}

.topTeaching-modalBasic{
    background-image:url(/assets/images/topTeaching.jpeg);
    background-position: center center;
    width: 418px;
    height: 418px;
    @media (max-width:768px){
        height: 280px;
        width: 280px;
    }
    @media (max-width:576px){
        height: 165px;
        width: 165px;
    }
}
.topTeaching-modalBasic-test{
    width: 350px;
    @media (max-width:768px){
        width: unset;
    }
}



.teacherList{
    &_lead{
        width: 94px;
        height: 94px;
    }
    &_follow{
        width: 68px;
        height: 68px;
    }
}

.relax1{
    background-image:url(/assets/images/relax1.jpg);
    height: 444px;
    background-position: center center;
    @media (max-width:768px){
        height: 207px;
    }
}

.relax2{
    background-image:url(/assets/images/relax2.jpg);
    background-position: center center;
}

.relax3{
    background-image:url(/assets/images/relax3.jpg);
    background-position: center center;
}

.relax2 ,.relax3{
    height: 207px;
}
.course1,.md-course1{
    background-image:url(/assets/images/course1.jpg);
    background-position: center center;

}
.course2,.md-course2{
    background-image:url(/assets/images/course2.jpg);
    background-position: center center;    
}
.course3,.md-course3{
    background-image:url(/assets/images/course3.jpg);
    background-position: center center;  
}
.course4,.md-course4{
    background-image:url(/assets/images/course4.jpg);
    background-position: center center;
}

.course1,.course2,.course3,.course4{
    height: 445px;
    width: 445px;
    margin-right: 30px;
}

.md-course1,.md-course2,.md-course3,.md-course4{
    height: 150px;
    width: 150px;
    @media (max-width:400px){
        height: 120px;
        width: 120px;
    }
}

.card-img-size{
    height: 250px;
    border-radius: 16px 16px 0 0;
    @media (max-width:768px){
        border-radius: 16px  0 0 16px;
    }
    @media (max-width:576px){
        border-radius: 16px 16px 0 0;
    }
}
.feedback {
    img{
        width: 60px;
        height: 60px;
    }
    h5{
        span{
            font-size: 14px;
        }
    }
}

.overview{
    img{
        height: 196px;
    }
    .card-img-overlay{
        top: unset;
    }
}

.modal-dialog{
    max-width: 920px;
}

.space {
    img{
        height: 350px;
    }
    .card-img-overlay{
        top: unset;
    }
}

.mySwiper2 {
    img{
        height: 196px;
    }
}

.map-size{
    height: 360px;
    @media (max-width:576px){
        height: 195px;
    }
}

.fa-facebook,.fa-instagram,.fa-line{
    color: $secondary;
    font-size: 48px;
}
