h1{
    @include hide-text;    
}
.logoSize{
    width: 96px;
    height: 31px;
}
.logo{
    background: url("/assets/images/DOYOGA-logo.png") center center;
    background-size: cover;
    display: inline-block;
}


.mediaSize{
    width: 24px;
    height: 24px;
}

